		#top-bottom-menu{
			font: 9pt Arial, Helvetica, sans-serit ; 
			position:fixed;
			height:auto;
			text-align:center;
		}
		
		
		#top-bottom-menu #dstbm-top{
			position:absolute;
			border:1px #cccccc solid;
			display:none;
			cursor:pointer;			
		}
		

		 
	 	#top-bottom-menu #dstbm-menu ul li:first-child{
			padding-left:0px;
		 }

		 
		
		#top-bottom-menu #dstbm-bottom{
			position:absolute;
			border:1px #cccccc solid;
			cursor:pointer;
		}
