*{ margin:0px; padding:0px; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; }
html,body{-webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;-o-text-size-adjust: none; text-size-adjust: none;}
input,textarea,select,button {font-family: "microsoft yahei", Arial, tahoma, arial, simsun; border-style:none;border-radius:0px;  outline:none;}
area{ outline:none;}
a{ text-decoration:none; color:#666; -webkit-transition: all ease-in .2s; 
-ms-transition: all ease-in .2s; -moz-transition: all ease-in .2s;
 -o-transition: all ease-in .2s; transition: all ease-in .2s; }

a:hover{ color:#d7262e}
ul,li {list-style-type:none; margin:0; padding:0;}
img { border: none; margin:0; padding:0;}
/*.clearfix { *zoom:1;!*IE/7/6*!}*/
.clearfix:before, .clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
body{background:#fff;color:#2b2b2b;font-size:12px;font-family: "microsoft yahei", Arial, tahoma, arial, simsun; } 
.section{ width:100%; max-width:1170px;margin:0px auto;}
.header{ width:100%;background: url(../images/head_bj.png);; position: absolute; z-index:5; left:0px;}
.header .section{ width:1170px; margin:0 auto; }
.header .section .logo{ width:37%; padding:20px 0px; float:left;  overflow:hidden;}
.header .menu{ width:63%;float: right;}
.header .menu ul{ width:100%; height:auto;}
.header .menu li{ float:left; text-align:center;}
/* .header .menu li a{ display:block; padding:0px 16px;  line-height:46px; color:#666; font-size:15px; font-weight:bold; } */
.header .menu li a{ display:block; padding:0px 15px;  line-height:50px; color:#666; font-size:16px; font-weight:bold; }
.header .menu li a.on,.header .menu li a:hover,.header .menu li a.act{ color:#117ECB}
.header .menu li .drop{ background-color:#4c4a4f;overflow:hidden; position:absolute; width:100%; left:0; top:86px; display:none;}
.header .menu li .drop ul{ width:100%; width:1200px; margin:auto; height:auto;   }
.header .menu li .drop li{ margin-right:30px;  text-align:left;float:left;line-height:50px;}
.header .menu li .drop li a{ padding:0; color:#fff; line-height:50px; font-size:15px; font-weight: bold;}
.header .menu li .drop li a:hover{ color:#117ECB}
.header .menu li .drop .gy{ width:494px; height:40px;}
.header .menu li .drop .xw{width:600px; height:40px;}
.header .menu li .drop .yf{ width:695px; height:40px;}
.header .menu li .drop .rc{ width:800px; height:40px;}
.header .menu li .drop .gm{width:894px; height:40px;}
.header .menu li .drop .js{ width:896px; height:40px;}
.header .menu li .drop .lx{width:833px; height:40px;}

.top-nav{ width:75px;height:24px; float:right; padding-top:16px;padding-right:10px; margin-left:5px;}
.top-nav ul li{ width:100%;float:left; padding:0px;list-style:none;position:relative;height:24px;}
.top-nav ul li.hover{ background:#fff; border:1px solid #ddd; border-bottom:none;}
.top-nav ul li a{ line-height:24px;  padding:0px;color:#666;font-size:12px;text-decoration:none;}
.top-nav ul li .nav a{ background:url(alibar-v4.gif) no-repeat 58px 9px; display:block; text-align:left; font-size:12px;padding-left:5px; line-height:24px; font-weight:normal;}
.top-nav ul li .con{ width:280px; border:1px solid #ddd; background:#fff;position:absolute;top:24px;left:-206px; padding:10px 0px; display:none; z-index:99999}
.top-nav ul li .con dl{ width:94%; float:left; margin:5px 3%; border-bottom:1px dotted #ccc;}
.top-nav ul li .con dl dt{ width:100%; line-height:25px; text-align:left;}
.top-nav ul li .con dl dd{ float:left; margin-right:10px;}
.top-nav ul li .con dl dd a{ font-size:12px; padding:0px;  line-height:25px;  font-weight:normal; color:#444;} 
.top-nav ul li .con dl dt a{ font-size:12px; padding:0px;  line-height:25px; font-weight: bold; color:#d7262e;}
.top-nav ul li .wd{width:280px;}

.index_home{ padding:0px;}
.header .lang-search{ width:100%; float:right;}
.header .search{ float:right; width:176px; height:24px; overflow:hidden; padding-top:16px; padding-right:10px;}
.header .search input.username{ 
width:140px; max-width:100%; float:left; border-style:none; border:1px solid #d0d6e2; border-right:0px;  font-family:'Î¢ÈíÑÅºÚ';   height:22px; line-height:22px;
font-size:12px; color:#c4c4c4; background: #fff; text-indent:0.5em; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none;
}
.header .search input.da_button{ width:25px; max-width:100%;float:left; border:1px solid #d0d6e2; border-left:0px; font-family:'Î¢ÈíÑÅºÚ';   
height:24px; line-height:24px;   font-size:12px; color:#CCC; background:#fff url(icon_serch.png) no-repeat 6px 4px;
  -webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none; appearance: none; }
.header .lang{ float:right; padding-top:16px;  }
.header .lang select{ display:block; color:#000; background:none;}
.header .lang .wximg{ width:245px; background: none;position:absolute;top:44px; right:100px; display:none; z-index:99999}
.m_menu{ background:#fff url(icon_nav.png) no-repeat center; background-size:contain;  width:50px; position:absolute; right:0; top:0; height:100%; display:none;}


/*baner*/
.baner {width: 100%;position: relative;overflow: hidden; }
.baner_box {width: 1000px;margin: 0 auto; position:relative;}
.n_baner {width: 1920px; margin: 0 -460px;overflow: hidden;display: block;}

.atlas {width: 999999px;}
.atlas li {float: left; position:relative;}
.atlas li .txt{ position:absolute; left:0; bottom:0;  width:100%;}
.atlas li .txt a{ width:1170px; margin:0 auto; display:block;  font-size:14px; text-decoration:none; line-height:65px; color:#fff;}
.atlas li .txt a span{ display:block; float:left; height:65px; padding-right:18px; line-height:65px; font-size:25px; font-weight: normal;}
.atlas li .bj1{background-color:rgba(204,167,72,0.8);}
.atlas li .bj2{background-color:rgba(0,125,201,0.8);}
.atlas li .bj3{background-color:rgba(254,161,29,0.8);}
.atlas li .bj4{ background-color:rgba(3,173,196,0.8);}
.atlas li .bj5{ background-color:rgba(215,38,46,0.8);}
.atlas li .bj6{ background-color:rgba(97,210,97,0.8);}

.atlas li img {display: block;}
.n_baner .num {position: absolute; width: 100%; top: 75%;left: 0;text-align: center;z-index:5; text-align:right;}
.n_baner .num a {width:38px; height:44px; display:inline-block;  background:url(icon_bj.png) no-repeat;margin: 0 5px; overflow:hidden; }
.n_baner .num a img {max-width:100%; height:auto;}
/* .n_baner .num a.on:nth-child(1) { background:url(icon01bj.png) no-repeat;}
.n_baner .num a.on:nth-child(2) { background:url(icon02bj.png) no-repeat;}
.n_baner .num a.on:nth-child(3) { background:url(icon03bj.png) no-repeat;}
.n_baner .num a.on:nth-child(4) { background:url(icon04bj.png) no-repeat;}
.n_baner .num a.on:nth-child(5) { background:url(icon05bj.png) no-repeat;}
.n_baner .num a.on:nth-child(6) { background:url(icon06bj.png) no-repeat;} */


.lm_title { width:100%; height:40px;line-height:40px;color:#d7262e; border-bottom:1px solid #e8e9ea;} 
.lm_title .lanmu{ width:120px; height:38px; float:left; font-size:20px; text-indent:0.3em; font-weight: 600;  border-bottom:2px solid #d7262e;} 
.lm_title .lanmu_a{  width:100px;height:40px;  float:right; text-align:right;}
/*ÐÂÎÅÖÐÐÄ*/
.index_news{ width:100%; height:auto; padding:25px 0px; }
.index_news .news_line{ width:100%; height:33px;}


.hdwrap {width:49.5%; float:left; margin-right:2%;}

.flashlist { width:100%;height:360px;}
.flashlist .f_out {height:360px;overflow:hidden;position:relative;z-index:100;}
.flashlist .f_out .picintro {height:38px;background-color:rgba(215,38,46,0.8);position:absolute;bottom:0;left:0;width:96%;z-index:999;padding:0 2%;}
.picintro h2 a {color:#FFF;font-size:14px;font-weight: normal;line-height:37px;}

.picintro p a {color:#abadac;}
.flash_tab { width:100%; padding-top:15px;}
.flash_tab .tabs { width:100%;height:5px;overflow:hidden;margin:auto;}
.flash_tab .tabs ul{ width:255px; margin:auto;}
.flash_tab .tabs ul li {width:41px;height:5px; margin:0px 5px;float:left;display:block;}
.flash_tab .tabs ul li.opdiv,.noopdiv {padding:0;opacity:1}
.flash_tab .tabs ul li.opdiv a {	width:41px;height:5px;background:#ccc;display:block;}
.flash_tab .tabs ul li.opdiv a:hover {background-position:-8px -1239px;}
.flash_tab .tabs ul li.noopdiv a {	width:41px;height:5px;background:#F00;	display:block;}


#con { width:47%; float:left;}
#tags { WIDTH:100%;  border-bottom:1px solid #e8e9ea; margin:0 auto;  HEIGHT: 30px}
#tags li {FLOAT: left; width:20%;  LIST-STYLE-TYPE: none; HEIGHT: 30px; text-align:center;}
#tags li A { display:block; COLOR: #666; font-size:16px; font-weight:bold;LINE-HEIGHT: 30px;  HEIGHT: 30px; TEXT-DECORATION: none}
#tags li.emptyTag { WIDTH: 4px}
#tags li.selectTag {POSITION: relative; HEIGHT: 28px; border-bottom:2px solid #d7262e;}
#tags li.selectTag A {LINE-HEIGHT: 30px; font-size:16px; font-weight:bold; color:#c10303; HEIGHT: 30px; }

#tagContent { width:100%; min-height:100px;BACKGROUND-COLOR: #fff}
.tagContent { DISPLAY: none;WIDTH: 100%; COLOR: #474747;}
#tagContent div.selectTag {DISPLAY: block}
.tagContent ul{ width:100%; margin-top:10px;}
.tagContent ul li{ width:100%; height:30px; line-height:30px; border-bottom:1px dotted #a7a7a7;}
.tagContent ul .newstitle{width:80%; height:30px; background:url(titledot.gif) no-repeat 2px 10px; overflow:hidden; text-indent:1.5em; float:left;}
.tagContent ul .newsdtime{width:20%;height:30px;  float:left;text-align:right;}

.tagContent ul li a{ color:#333; font-size:13px;}
.tagContent .NewsPicRec{ background:#fafafa; padding:10px 10px 20px 10px; height:70px; overflow:hidden; line-height:20px; font-size:12px;}
.tagContent .NewsPicRec h4{ line-height:40px; text-align:center; font-size:15px;}
.tagContent .NewsPicRec a{color:#c10303;}
.tagContent .NewsPicRec p{ text-indent:2em; color:#222222;}
/*ÒµÎñºÍ·þÎñ*/
.index_service{width:100%;  height:auto; padding:20px 0px 40px 0px; background:#f1f1f1;}
.index_service p{line-height:50px; font-size:14px; }


.scrollpic {width: 1168px;margin:0 auto;}
#myscroll {display: block;width: 100%;position: relative;height:300px;overflow: hidden;}
#myscroll #myscrollbox {display: block;float: left;position: absolute;left: 0;top: 0;width: 1000000px;}
#myscroll ul {display: block;float: left;list-style-type: none;padding: 0;margin: 0;}
#myscroll ul li {display: block;float: left;padding: 0;width:292px;}
#myscroll ul li a {display: block;float: left;width: 281px;padding: 0; background:url(tu01.png) no-repeat;position: relative;height: 300px;color: #333;}

#myscroll a .tuicon01{ width:100%; text-align:center;height:21px;  font-size:16px; background:url(tu01_hover.png) no-repeat right;} 
#myscroll a .tuicon02{ width:100%; text-align:center;height:21px;  font-size:16px; background:url(tu02_hover.png) no-repeat right;} 
#myscroll a .tuicon03{ width:100%; text-align:center;height:21px;  font-size:16px; background:url(tu03_hover.png) no-repeat right;} 
#myscroll a .tuicon04{ width:100%; text-align:center;height:21px;  font-size:16px; background:url(tu04_hover.png) no-repeat right;} 
#myscroll a .tuicon05{ width:100%; text-align:center;height:21px;  font-size:16px; background:url(tu05_hover.png) no-repeat right;} 
#myscroll a .tuicon06{ width:100%; text-align:center;height:21px;  font-size:16px; background:url(tu06_hover.png) no-repeat right;} 

#myscroll a .tuimg{ width:100%; text-align:center; height:65px; margin:30px 0px 20px 0px; } 
#myscroll a .tutxt{ width:100%; text-align:center;line-height:60px; font-size:18px;} 
#myscroll a .tuxq01{ width:50%; margin:0px 25%; background:#ebcb79; text-align:center; color:#fff; height:30px;line-height:30px; font-size:12px;} 
#myscroll a .tuxq02{ width:50%; margin:0px 25%; background:#49a6de; text-align:center; color:#fff; height:30px;line-height:30px; font-size:12px;} 
#myscroll a .tuxq03{ width:50%; margin:0px 25%; background:#fea11d; text-align:center; color:#fff; height:30px;line-height:30px; font-size:12px;} 
#myscroll a .tuxq04{ width:50%; margin:0px 25%; background:#5bd5e6; text-align:center; color:#fff; height:30px;line-height:30px; font-size:12px;} 
#myscroll a .tuxq05{ width:50%; margin:0px 25%; background:#d7262e; text-align:center; color:#fff; height:30px;line-height:30px; font-size:12px;} 
#myscroll a .tuxq06{ width:50%; margin:0px 25%; background:#06ce0f; text-align:center; color:#fff; height:30px;line-height:30px; font-size:12px;} 



#myscroll .intro{position: absolute;left: 0;z-index: 10;background:url(tu01hover.png) no-repeat;width: 281px;color: #fff;text-align: center;}
#myscroll a .intro h5 {padding: 0;margin: 0;font-size: 16px;height: 60px;width: 281px;line-height: 60px;border-bottom: 1px dashed #fddfb5; font-weight:bold;}
#myscroll a .intro p {font-size: 12px;line-height: 25px;margin: 10px 15px; text-align:left;height: 220px;overflow: hidden;}
#myscroll a .intro {bottom: -301px;}
#myscroll a:hover .intro {bottom: 0px;}

#myscroll .intro1{position: absolute;left: 0;z-index: 10;background:url(tu02hover.png) no-repeat;width: 281px;color: #fff;text-align: center;}
#myscroll a .intro1 h5 {padding: 0;margin: 0;font-size: 16px;height: 60px;width: 281px;line-height: 60px;border-bottom: 1px dashed #fddfb5; font-weight:bold;}
#myscroll a .intro1 p {font-size: 12px;line-height: 25px;margin: 10px 15px;  text-align:left;height: 220px;overflow: hidden;}
#myscroll a .intro1 {bottom: -301px;}
#myscroll a:hover .intro1 {bottom: 0px;}

#myscroll .intro2{position: absolute;left: 0;z-index: 10;background:url(tu03hover.png) no-repeat;width: 281px;color: #fff;text-align: center;}
#myscroll a .intro2 h5 {padding: 0;margin: 0;font-size: 16px;height: 60px;width: 281px;line-height: 60px;border-bottom: 1px dashed #fddfb5; font-weight:bold;}
#myscroll a .intro2 p {font-size: 12px;line-height: 25px;margin: 10px 15px; text-align:left;height: 220px;overflow: hidden;}
#myscroll a .intro2 {bottom: -301px;}
#myscroll a:hover .intro2 {bottom: 0px;}
#myscroll .intro3{position: absolute;left: 0;z-index: 10;background:url(tu04hover.png) no-repeat;width: 281px;color: #fff;text-align: center;}
#myscroll a .intro3 h5 {padding: 0;margin: 0;font-size: 16px;height: 60px;width: 281px;line-height: 60px;border-bottom: 1px dashed #fddfb5; font-weight:bold;}
#myscroll a .intro3 p {font-size: 12px;line-height: 25px;margin: 10px 15px; text-align:left;height: 220px;overflow: hidden;}
#myscroll a .intro3 {bottom: -301px;}
#myscroll a:hover .intro3 {bottom: 0px;}
#myscroll .intro4{position: absolute;left: 0;z-index: 10;background:url(tu05hover.png) no-repeat;width: 281px;color: #fff;text-align: center;}
#myscroll a .intro4 h5 {padding: 0;margin: 0;font-size: 16px;height: 60px;width: 281px;line-height: 60px;border-bottom: 1px dashed #fddfb5; font-weight:bold;}
#myscroll a .intro4 p {font-size: 12px;line-height: 25px;margin: 10px 15px;  text-align:left;height: 220px;overflow: hidden;}
#myscroll a .intro4 {bottom: -301px;}
#myscroll a:hover .intro4 {bottom: 0px;}
#myscroll .intro5{position: absolute;left: 0;z-index: 10;background:url(tu06hover.png) no-repeat;width: 281px;color: #fff;text-align: center;}
#myscroll a .intro5 h5 {padding: 0;margin: 0;font-size: 16px;height: 60px;width: 281px;line-height: 60px;border-bottom: 1px dashed #fddfb5; font-weight:bold;}
#myscroll a .intro5 p {font-size: 12px;line-height: 25px;margin: 10px 15px;  text-align:left;height: 220px;overflow: hidden;}
#myscroll a .intro5 {bottom: -301px;}
#myscroll a:hover .intro5 {bottom: 0px;}





#mybtns a:hover, #myscroll, #mybtns a,  #myscroll #myscrollbox {
		-webkit-transition: all 0.5s ease;	-moz-transition: all 0.5s ease;	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;	transition: all 0.5s ease;}
	
#myscroll a:hover .intro, #myscroll a .intro, #myscroll a:hover .intro1, #myscroll a .intro1, #myscroll a:hover .intro2, #myscroll a .intro2, #myscroll a:hover .intro3, #myscroll a .intro3,#myscroll a:hover .intro4, #myscroll a .intro4, #myscroll a:hover .intro5, #myscroll a .intro5{
		-webkit-transition: all 0.5s ease;	-moz-transition: all 0.5s ease;	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;	transition: all 0.5s ease;}	

#mybtns {
	width: 1150px;
	display: block;
	height: 150px; position: absolute; z-index:99999;
}
#mybtns a {
	width: 49%;
	height: 150px;
	display: block;
	float: right;
	margin-right: 1px;
	background-color: #c1c1c1;
	margin-left:10px;
}

#mybtns #left { float:left; left:0px; background: url(../images/jt_l.png) no-repeat -200px  bottom;}
#mybtns #right {	 float:right; right:0px;  background: url(../images/jt_r.png) no-repeat  600px bottom;}
#mybtns #left:hover {	left:0px;background: url(../images/jt_l_h.png) no-repeat 0px bottom;}
#mybtns #right:hover {right:0px;	background: url(../images/jt_r_h.png) no-repeat 500px bottom;}


/*×ÊÑ¶¾ÛºÏ*/
.index_zixun{width:100%; height:auto; padding:25px 0px 44px 0px; }

.metro1{ width:50%; float:left;background:#dcdcdc;}
.metro1 a{ display:block;color:#232323; width:100%; margin: 0px; padding:0px;height:249px;background:#dcdcdc url(jian.png) no-repeat right bottom; background-size:;}
.metro1 a:hover{ display:block; width:100%;  height:249px;
background:#d7262e url(jian_hover.png) no-repeat right bottom;-webkit-transition: all ease-in .2s; -ms-transition: all ease-in .2s;
-moz-transition: all ease-in .2s;-o-transition: all ease-in .2s; transition: all ease-in .2s;}
.metro1 .zxju_img{ width:50%; float:left; height:249px; overflow:hidden;}
.metro1 .zxju_img img{ width:100%; max-width:100%;height:249px; transform: translateZ(0px);  transition: transform 0.3s ease 0s; }
.metro1 .zxju_img:hover img{ transform: scale(1.1, 1.1); transition: transform 0.6s ease 0s;}
.metro1 .zxju_text{  width:40%; padding:0 5%;  height:249px; float:left;background:#dcdcdc url(jian.png) no-repeat right bottom;}
.metro1 .zxju_text h4{ width:100%; font-size:20px; font-weight: normal;line-height:100px; float:left;}
.metro1 .zxju_text p{ line-height:25px;  font-size:14px;}
.metro1 .zxju_text:hover{background:#d7262e url(jian_hover.png) no-repeat right bottom;color:#fff;}

.metro2{ width:50%; float:left;background:#dcdcdc;}
.metro2 a{ display:block;color:#232323; width:100%; margin: 0px; padding:0px;height:249px;background:#dcdcdc url(jian.png) no-repeat 230px bottom;}
.metro2 a:hover{ display:block; width:100%;  height:249px;
background:#d7262e url(jian_hover.png) no-repeat 230px bottom;-webkit-transition: all ease-in .2s; -ms-transition: all ease-in .2s;
-moz-transition: all ease-in .2s;-o-transition: all ease-in .2s; transition: all ease-in .2s;}
.metro2 .zxju_img{ width:50%; float:left; height:249px; overflow:hidden;}
.metro2 .zxju_img img{ width:100%; max-width:100%;height:249px; transform: translateZ(0px);  transition: transform 0.3s ease 0s; }
.metro2 .zxju_img:hover img{ transform: scale(1.1, 1.1); transition: transform 0.6s ease 0s;}
.metro2 .zxju_text{  width:40%; padding:0 5%;  height:249px;float:left;background:#dcdcdc url(jian.png) no-repeat right bottom;}
.metro2 .zxju_text h4{ width:100%; font-size:20px; font-weight: normal;  line-height:100px; float:left;}
.metro2 .zxju_text p{ line-height:25px;  font-size:14px;}
.metro2 .zxju_text:hover{background:#d7262e url(jian_hover.png) no-repeat right bottom;color:#fff;}

.geban{ width:100%; height:86px;}
.ny_banner{ background: url(/images/ny_banner01.jpg)  center no-repeat; padding-top:28.43%; background-size: cover; }
.news_banner{ background: url(news_banner.jpg) center no-repeat; padding-top:28.43%; background-size: cover; }
.rencai_banner{ background: url(rencai_banner.jpg) center no-repeat; padding-top:28.43%; background-size: cover; }
.dang_banner{ background: url(dang_banner.jpg) center no-repeat; padding-top:28.43%; background-size: cover; }
.advance_banner{width:100%;background:url(ywfw.jpg) no-repeat center; padding-top:28.43%; background-size: cover;}
.contact_banner{width:100%;background:url(contact_banner.jpg) no-repeat center; padding-top:28.43%; background-size: cover;}
.social_banner{width:100%;background:url(social_banner.jpg) no-repeat center; padding-top:28.43%; background-size: cover;}
.yw_banner{width:100%; background: url(ywfw.jpg) center no-repeat; padding-top:21.25%; background-size: cover; }


.main_content{ width:100%; background:url(content_bj.jpg) repeat-x; }


.th td {background: #666565;color: #fff;}
th,td {line-height:23px;font-size: 13px; padding:10px 2px 10px 10px;}
.xx{background: #f9f9f9;color: #676767;}
.xxx{background: #eeeeee;color: #676767;}
.cztd{background: #cda749;color: #fff;}
.cytd{background: #007dc9;color: #fff;}
.fctd{background: #fea11d;color: #fff;}
.cstd{background: #03adc4;color: #fff;}
.jrtd{background: #d7262e;color: #fff;}
.lytd{background: #06ce0f;color: #fff;}

.content_m{ width:17%; max-width:190px; float:left; padding-top:15px;}
.content_m .hd{ width:100%; height:100px; line-height:100px; background:#d7262e url(hdbj.jpg) no-repeat right;  text-align:center;  font-size:26px; letter-spacing:2px; color:#fff;}


.content_l{ width:17%; max-width:190px; float:left; padding-top:15px;}
.content_l .hd{ width:100%; height:100px; line-height:100px; background:#d7262e url(hdbj.jpg) no-repeat right;  text-align:center;  font-size:26px; letter-spacing:2px; color:#fff;}
.content_l ul{ width:100%; background:#f9f9f9; padding:10px 0px 5px 0px; border-top:1px solid #d7d7d7;}
.content_l ul li{ width:100%; height:40px; border-bottom:1px solid #fff; line-height:40px; text-indent:2.8em;}
.content_l ul li a{display:block;color:#fff; font-size:14px;  }

.content_l ul .smenuv a{ background:#7e7e7e url(quan.png) no-repeat 15px 15px ; }
.content_l ul .smenuv a:hover{background:#e17e7e url(quan.png) no-repeat 15px 15px ;}
.content_l ul .onmenuv a{  background:#e17e7e url(quan.png) no-repeat 15px 15px ;}
.content_l ul .tmenuv a{ background:#f9f9f9; color:#525252; border-bottom:1px dotted #d1d1d1;}
.content_l ul .tmenuv a:hover{background:#e17e7e;}



/*Á½¼¶²Ëµ¥Ê÷jquery²å¼þÌØÐ§ */
#menubox{ width:100%; overflow:hidden;}
#menubox ul{ margin:0px;  display: block; width:100%; background:#f9f9f9; padding:10px 0px 5px 0px; border-top:1px solid #d7d7d7;}
#menubox ul li{ width:100%;  border-bottom:1px solid #fff; line-height:40px; font-size:14px; text-indent:2.8em; background:#7e7e7e url(quan.png) no-repeat 15px 15px ;  position:relative; color:#FFF;}
#menubox ul li a{ display:block;color:#FFF;}
.more{ width:40px; height:40px; display:block; position:absolute; top:2px;right:0px; z-index:5}
.block{ display:block;}
.hitarea{color:#FFF;width:100%; }
#menubox .jia{ background:url(zhover.png) no-repeat center right; background-size:inherit;}
.collapsable .hitarea{ color:#fff; border:none;}
#menubox ul li:hover{background:#e17e7e url(quan.png) no-repeat 15px 15px ;}
#menubox ul li ul{ padding:0px;}
#menubox ul li ul li{ background:#f9f9f9; line-height:32px; border-bottom:1px dotted #d1d1d1;}
#menubox ul li ul li:hover{background:#cccbcb;}
#menubox ul li ul li a{ display:block;color:#525252;}
a.collerlv{color:#525252;text-decoration: none}
a.collerlv:link{color:#525252;}
a.collerlv:visited{color:#525252;}
a.collerlv:actived{color:#525252;}
a.collerlv:hover{color:#525252 ; }

a.selected{color:#ffffff;text-decoration: none;}
a.selected:link{color:#ffffff;}
a.selected:visited{color:#ffffff;}
a.selected:actived{color:#ffffff;}
a.selected:hover{color:#ffffff ; font-weight:bolder;}

.content_r{ width:80%; max-width:910px; padding-bottom:30px; float:right;}
.content_r .nowmenu{ width:100%;  line-height:55px; color:#111; margin-top:60px; }
.content_r .nowmenu span{  padding:0px 40px 0px 10px;font-size:30px; line-height:55px; display:block; float:left; border-bottom:2px solid #cf1c24; }
.content_r .zhuye{ float:right; width:60%; line-height:30px; margin:15px 0px; color:#615f60; text-align:right; }
.content_r .zhuye a{ padding:0px 5px;color:#615f60; }

.content_r .ny{ width:100%; line-height:30px; padding-top:30px;  color:#2c2c2c; font-size:14px; }
.content_r .ny h4{ font-size:18px;  line-height:60px;}
.content_r .ny h6{ 
padding-left:10px; padding-right:10px; float:left;   font-size:18px;  line-height:40px; font-weight:600; letter-spacing:1px;  background:#d7262e; 
color:#fff;display:block; margin-top:10px; margin-bottom:20px; clear: 0 both;
}
.content_r .ny p{ padding-bottom:15px;}

.content_r .ny img{  max-width:100%;}

.content_r .ny .leijie{ width:96%; margin: auto; padding:20px 0px;}
.content_r .ny .leijie_l{ width:50%; float:left;}
.content_r .ny .leijie_l h3{ width:100%; color:#cf1b24; font-size:25px; font-weight:500; line-height:45px;}
.content_r .ny .leijie_l p{ width:100%; color:#383838; font-size:18px;line-height:55px;}
.content_r .ny .leijie_r{ width:262px; height:105px; float: right; background:#f1f1f1; padding:10px 0px; text-align:center;}
.content_r .ny .leijie_r .leijieshijian{ width:65%; margin:auto;}
.content_r .ny .leijie_r span{ background:#c6121b; color:#fff; padding: 5px 5px; font-size:20px;margin-right: 1px;float: left;}
.content_r .ny .xd_pic{     width:96%; padding:0px 2%; background:#eeeeee;}
.content_r .ny .xd_pic ul{ width:100%; margin: auto;}
.content_r .ny .xd_pic ul li{ width:29.5%; float:left; background:#fff; border:1px solid #d8d8d8; padding:10px 1%; margin:20px 0.5%; overflow:hidden;}
.content_r .ny .xd_pic ul li img{ max-width:100%; height:155px;}
.content_r .ny .xd_pic p{ height:100px; display:block; width:100%; font-size:13px; text-indent:2em; overflow:hidden; line-height:23px;}
.content_r .ny .xd_pic a{ display:block; line-height:30px; background:#222222; color:#fff; text-align:center; margin:10px 0px}

.content_r .ny_memo{ width:100%; line-height:30px; padding-top:30px;  color:#2c2c2c; font-size:14px; }
.content_r .ny_yuan{ width:100%; padding-top:30px; line-height:40px; border-bottom:1px  solid #b5b5b5;}
.content_r .ny_bjtitl{line-height:40px;font-size:18px; }
.content_r .ny_whimg{ width:100%; padding:30px 0px 0px 0px;  }
.content_r .ny_whimg img{ max-width:100%;}
.content_r .ny_whleft{float:left; width:50%; margin-top:20px; color:#2c2c2c;line-height:28px; font-size:14px; }
.content_r .ny_whleft h3{ font-size:16px; font-weight:normal; padding:10px 0px; color:#000000}
.content_r .ny_whright{float:left; width:50%; margin-top:20px; color:#2c2c2c;line-height:28px; font-size:14px; }
.content_r .ny_whright img{ width:100%; max-width:425px;}
.content_r .ny_shi{width:100%; padding-top:60px; line-height:40px; border-bottom:1px  solid #b5b5b5;}

.content_r .ny_whtitle{ width:100%; line-height:40px; margin-top:20px; text-indent:1.5em; background: url(qi.jpg) no-repeat 0px 15px;color:#d60505;font-size:16px;}
.content_r .ny_whmemo{ width:100%; line-height:30px; padding:10px 0px ; border-bottom:1px  dashed #b5b5b5; color:#2c2c2c; font-size:14px; }
.content_r .ny_whmemo p{ padding-bottom:15px; }

.content_r .ny_nwang{ width:100%; margin-top:20px; color:#2c2c2c;line-height:28px; font-size:14px; }
.content_r .ny_nwang h3{ font-size:16px; font-weight:normal;color:#000000;    padding: 10px 0px;}
.content_r .ny_nwang img{ width:100%; max-width:424px; }


.content_r .ny_qt{ width:100%; line-height:30px; padding-top:30px;  color:#2c2c2c; font-size:14px; }
.content_r .ny_qt p{ padding-bottom:15px;}
.content_r .ny_qt img{  max-width:100%;}


.content_r .cp_title{ font-size:20px; text-align: center; margin-top:30px; line-height:50px; font-weight:bold;}
.content_r .cp_intro{ width:100%; line-height:30px; padding:10px 0px 50px 0px;  color:#2c2c2c; font-size:14px; }
.content_r .cp_intro img{ max-width:100%; }
.content_r .cp_intro p{ padding-bottom:15px;}

.content_r .cp_query{ width:100%;}
.content_r .cp_query li{margin:10px 1%;width:30.5%; border:1px solid #d8d8d8; overflow:hidden;  border-bottom:0px; float: left;}
.content_r .cp_query li .img_wrap{width:100%; display:block;  overflow: hidden;}
.content_r .cp_query li .img_wrap img{  transform: translateZ(0px);  transition: transform 0.3s ease 0s;  left: 0;  top: 0; width:100%; height:260px;}
.content_r .cp_query li .img_wrap:hover img{ transform: scale(1.1, 1.1); transition: transform 0.6s ease 0s;}

.content_r .cp_query li .text-area{line-height:70px;height:70px; text-align:center; background:#eeeeee; margin-top:-4px; font-size:18px; border-bottom:3px solid #cacaca}
.content_r .cp_query li:hover .text-area{background-color:#d81c1b;color:#fff;-webkit-transition: all ease-in .2s; 
-ms-transition: all ease-in .2s; -moz-transition: all ease-in .2s;
 -o-transition: all ease-in .2s; transition: all ease-in .2s;}
 
 
 
.content_r .wx_query{ width:100%;}
.content_r .wx_query li{margin:10px 1%;width:46%; border:1px solid #d8d8d8;  float: left; overflow:hidden;}
.content_r .wx_query li .img_wrap{width:50%; float:left; display:block; overflow: hidden;}
.content_r .wx_query li .img_wrap img{  transform: translateZ(0px);  transition: transform 0.3s ease 0s;  left: 0;  top: 0; width:100%;  max-width:204px;}
.content_r .wx_query li .img_wrap:hover img{ transform: scale(1.1, 1.1); transition: transform 0.6s ease 0s;}
.content_r .wx_query li p{ width:48%; font-size:14px; float:right; line-height:25px; padding:12% 1% 0px 1%; }
 
.content_r .downquery{ width:100%;}
.content_r .downquery ul{ width:100%; margin-top:10px;}
.content_r .downquery ul li{ width:20%; float:left; font-size:14px; margin:20px 2.5%;}
.content_r .downquery ul li img{ width:100%; max-width:100%; border:1px solid #e4e4e4; padding:1px;} 
.content_r .downquery .down_title{ width:100%; line-height:24px;margin-top:5px;}
.content_r .downquery .down_title p{ width:75%; display:block; float:left; overflow:hidden; height:24px;}
.content_r .downquery .down_title a{ display:block; border-radius:3px; border:1px solid #bfbfbf; background:#eeeeee; color:#d5262d; text-align:center; width:40px; float:right;}
.content_r .downquery .down_title a:hover{background:#d5262d; color:#fff; }



.content_r .ny_left{ width:85%; line-height:30px;  padding-top:30px;  float:left;  color:#2c2c2c; font-size:14px; }
.content_r .ny_left p{ padding-bottom:15px;}

.content_r .ny_right{ width:15%; line-height:30px;  padding-top:30px;  float:left;  color:#2c2c2c; font-size:14px; }
.content_r .ny_right p{ padding-bottom:15px;}

.content_r .ny_left img{max-width:100%;}
.content_r .ny_right img{max-width:100%;}
.content_r .ndsdny{ width:100%; /*background: url(ndsd.jpg) no-repeat bottom right; */line-height:30px; padding:30px 0px /*320px 0px*/;  color:#2c2c2c; font-size:14px; }
.content_r .ndsdny h4{ font-size:18px; font-weight: normal; line-height:60px;}
.content_r .ndsdny img{max-width:100%;}
.content_r .ndsdny p{ padding-bottom:15px;}

.content_r .rczpny{ width:100%;  line-height:30px; padding-top:30px;  color:#2c2c2c; font-size:14px; }
.content_r .rczpny h4{ font-size:16px; font-weight: normal; line-height:60px;}
.content_r .rczpny img{ max-width:100%;}
.content_r .rczpny p{padding-bottom:15px;}
.content_r .rczpny h6{ 
padding-left:10px; padding-right:10px; float:left;   font-size:18px;  line-height:40px; font-weight:600; letter-spacing:1px;  background:#d7262e; 
color:#fff;display:block; margin-top:10px; margin-bottom:20px; clear: 0 both;
}

.content_r .rczpny_left{ width:75%; line-height:30px;  padding-top:30px;  float:left;  color:#2c2c2c; font-size:14px; }
.content_r .rczpny_left h4{ width:99%; background:#eaeaea url(sj.png) no-repeat 15px 12px; text-indent:2em;  border:1px solid #adadad; line-height:30px; margin-top:30px;}
.content_r .rczpny_left ul{ width:100%;}
.content_r .rczpny_left ul li{ width:33.3%; float:left; line-height:40px;}
.content_r .rczpny_left h5{line-height:30px;width: 100%;display: flex; }


.content_r .rczpny_right{ width:20%; line-height:30px;  padding-top:30px;  float:left;  color:#2c2c2c; font-size:14px; margin-left:5%; }
.content_r .rczpny_right img{max-width:100%;}

.content_r .contact_left{ width:50%; float:left; padding-top:30px; margin:50px 0px;}
.content_r .contact_left h4{ line-height:80px; font-size:22px; font-weight:normal; color:#ca0000;}
.content_r .contact_left p{ line-height:25px; color:#646464; font-size:13px; padding-bottom:5px; padding-left:30px;}
.content_r .contact_left .adr{ background:url(adr.jpg) no-repeat 0px 1px;}
.content_r .contact_left .pho{ background:url(pho.jpg) no-repeat 0px 2px;}
.content_r .contact_left .fac{ background:url(fac.jpg) no-repeat 0px 2px;}
.content_r .contact_left .web{ background:url(web.jpg) no-repeat 0px 2px;}
.content_r .contact_left .ema{ background:url(ema.jpg) no-repeat 0px 2px;}



.content_r .contact_right{ width:50%; float:left; text-align:center; margin:50px 0px;}
.content_r .contact_right img{ max-width:100%;}

.web_qun{ width:100%; clear:both; } 
.web_qun ul{ width:100%;margin-bottom:50px;}
.web_qun ul li{ width:30%; float:left;background:url(website_li.jpg) no-repeat 5px 15px; font-size:13px; line-height:34px; text-indent:1.2em; }



/* operate */
.operate{width:100%;margin:20px auto;}
.operate h3{font-family:"Microsoft YaHei",Î¢ÈíÑÅºÚ;font-size:24px;background:#f7f7f7;height:60px;line-height:60px;padding-left:12px;}
.operate li{display:inline-block;background-color:#f1f1f1; width:100%;position:relative;min-height:50px;_height:50px; margin-bottom:20px;z-index:10;zoom:1 }
.operate li h4{cursor:pointer;background:url(sicons.png) no-repeat  10px 5px; padding:10px 0px 10px 45px;text-decoration:none;font-size:15px;color:#555;display:block; line-height:25px;font-weight: bold;}
.operate li.selected h4{background:url(sicons_hover.png) no-repeat  10px -35px;}
.operate li .list-item{position:relative;zoom:1 ;}
.operate li .list-item p {background-color:#d3d3d3; border-left:2px solid #cf1c24;color:#444;display:block;line-height:30px; 
padding-left: 20px; position:relative;text-decoration:none;font-size:13px;}
.operate li .list-item p.hover{background-color:#7e7e7e ;color:#fff;text-decoration:none;display:block;}
.none{display:none}

/*ÐÂÎÅÁÐ±í*/
.newslist{ width:100%;}
.newslist li{ overflow:hidden; width:100%; padding:20px 0; border-bottom:1px dotted #c5c5c4;}
.newslist .time{ float:left; width:6.5%;  min-width:60px;}
.newslist .conts{ float:right; width:90.2%; max-width:830px;}
.newslist .day,.newslist .date{ background-color:#eae6e2;display:block; text-align:center; font-family:Arial; }
.newslist .day{ height:42px; line-height:42px; border-bottom:1px solid #fff; color:#000; font-size:30px;}
.newslist .date{ height:18px; line-height:18px; font-size:12px;}
.newslist  h3{ margin-top:-2px; font-size:14px; color:#757575;}
.newslist a{color: #333;}
.newslist .mmore{ margin-left:8px;}


.showpages{ width:98%; margin:auto;}
.showpages .s_left{ width:40%; max-width:300px; float:left; line-height:60px; font-size:14px;}
.showpages .s_right{ width:25%; max-width:300px;float:right;line-height:60px;}
.showpages .s_right ul{ width:100%; max-width:400px;}
.showpages .s_right ul li{ width:55px; text-align:center; float:left; font-size:14px;}

/*ÐÂÎÅÏêÇé*/
.news_content{ width:100%; background:#f7f5f4; }
.main_news{ width:100%; max-width:890px;background-color: #fff;padding: 30px 55px;margin: 0 auto;}
.main_news .header-news{ padding-bottom:20px;border-bottom: 1px solid #dbd4cd;}
.main_news .header-news img{ max-width:100%;}

.main_news .xq_title{ font-size:16px; text-align:center; font-weight:bold; line-height:80px;}
.main_news .xq_Time{  border-top: 1px dashed #dbd4cd;border-bottom: 1px dashed #dbd4cd;line-height: 35px;text-align: center; color:#464646}
.main_news .xq_newscon{ font-size:14px;  line-height:30px; padding:10px 0px 60px 0px; }
.main_news #con{ width:100%;}
.main_news .xq_newscon p{ padding-bottom:15px;}
.main_news .xq_newscon img{ margin:10px 0px; max-width:100%;}
.main_news .share{width:100%; padding:20px 0px;}
.main_news .share_l{ width:60%; float:left;}
.main_news .share_r{ width:200px; float: right;}


.footer{ width:100%; background:#404040; color:#c3c3c3;}
.foot_left{ width:100%; height:120px; margin:30px 0px; float:left;}
.foot_left ul{ width:25%; float:left}
.foot_left ul h3{ width:100%; line-height:40px; font-size:14px;}
.foot_left ul li{ width:100%; line-height:25px;}
.foot_left ul li a{ color:#c3c3c3;}
.foot_left ul li a:hover{ color:#d7262e;}

.foot_right{width:30%;float:left; padding-left:4%; margin:30px 0px; border-left:1px solid #4b4b4b; }
.foot_right h3{ width:100%;color:#fbfbfb; line-height:40px; font-size:16px;}
.foot_right a{ color:#a8a8a8; margin-right:6px; line-height:25px;}
.foot_right a:hover{ color:#d7262e;}
.foot_right h4{width:100%; line-height:40px; text-align:right; font-size:14px;}
.foot_right h4 a{color:#d7262e;}

.foot_nav{ width:100%; height:auto; padding:30px 0px; min-height:100px;}
.foot_nav ul{ width:10%; margin:0px 2%; float:left}
.foot_nav ul h3{ width:100%; line-height:40px; border-bottom:1px solid #757575; font-size:14px;}
.foot_nav ul li{ width:100%; line-height:25px;}
.foot_nav ul li a{ color:#c3c3c3;}
.foot_nav ul li a:hover{ color:#d7262e;}



.foot_Buttom{ width:100%; text-align:center; line-height:25px; border-top:1px solid #757575; padding:30px 0px;}
.foot_Buttom a{ color:#c3c3c3; margin:0px 15px;}
.foot_Buttom a:hover{ color:#d7262e;}


.news_buttom{ width:100%; text-align:center; color:#8d908e;font-size:14px;  line-height:25px;  padding:30px 0px;}
.news_buttom a{ color:#8d908e; margin:0px 15px;}
.news_buttom a:hover{ color:#8d908e;}



input.form {
	 width:50%; border:1px solid #ccc;  height:40px; line-height:40px;	background:transparent; 
	font-size:16px;outline:none;appearance:none;-webkit-appearance: none;}
input.input {
	 width:50%; border:1px solid #ccc;  height:40px; line-height:40px;	background:transparent; 
	font-size:16px;outline:none;appearance:none;-webkit-appearance: none;	}
input.button { width:200px;  height:40px; color:#fff;line-height:40px; font-size:16px; background:#404040; border-radius:3px;		}
	
	
.textarea{ border:1px solid #ccc;width:70%;appearance:none;-webkit-appearance: none;outline:none }
.main_form{width:100%; line-height:60px; font-size:16px; margin:10px 0px;}
.form_left{ width:11%; float:left}
.form_right{width:89%; float:left}
.form_left span{ color:#cf1c24; font-size:12px;}


.main_textarea{width:100%; line-height:60px; font-size:16px; margin:10px 0px;}
.textarea_left{ width:100%; float:left}
.textarea_right{width:100%; float:left}
.textarea_left span{ color:#cf1c24; font-size:12px;}




/* Menu style */
.syFocusThumb{POSITION: relative; WIDTH:100%;  OVERFLOW: hidden;  margin:30px auto;}
.syFocusThumb .prev{ background-image: url('prev.png'); width:15px; height:26px;}
.syFocusThumb .next{ background-image: url('next.png'); width:15px; height:26px;}
.pagination {POSITION: absolute; TEXT-ALIGN: left; WIDTH: 100%; background:url(dot.gif) left 75px repeat-x;; HEIGHT:80px; COLOR: #fff; CLEAR: both; TOP: 0; LEFT: 0px}
.thumbWrap {POSITION: absolute; WIDTH:100%;  OVERFLOW: hidden; TOP: 0; LEFT:10px;}
.holder {WIDTH: 4000px;background: url('biggerdot.png') center bottom no-repeat;}
.holder I {CURSOR: pointer; MARGIN-RIGHT:-1px}
.prev {POSITION: absolute; WIDTH:15px; TOP:30px; CURSOR: pointer; LEFT: 0px}
.next {POSITION: absolute; WIDTH:15px; TOP:30px; CURSOR: pointer; RIGHT: 0px;}
.pagination I.selected{ width:130px; color:#f60e0e; height:80px; text-align:center; }
.pagination I.selected a{ color:#f60e0e;font-weight:bold;  font-size:34px;}
.syFocusThumb .title {font-size: 30px; line-height: 30px; margin-bottom: 25px;/* font-weight: bold; */font-weight: 400;color: #f60e0e;text-align: center; margin-top:140px;}
.sliderwrapper{ width:100%; margin-top:40px; padding-left:5px; text-align:left;    background: url(history_bg_centerbar.png) center repeat-y; }
.toc{ font-size:30px; display:block; background:url(biggerdot.png) center bottom no-repeat; width:130px; height:80px; text-align:center; line-height:80px; }
.toc a{color:#222; font-style:normal; font-weight:bold; font-family:"Î¢ÈíÑÅºÚ" }
.sliderwrapper .row{margin-bottom:30px;background: url(history_bg_circle.png) center 13px no-repeat;min-height: 51px;}
.sliderwrapper .col{width:425px;}
.sliderwrapper .col.l{float:left;background:url(history_bg_hr.png) right 32px no-repeat;}
.sliderwrapper .col.r{float:right;background:url(history_bg_hr.png) left 32px no-repeat;	}
.sliderwrapper .col.noBg{background:none;}

.sliderwrapper .col .textWrapper{line-height:26px;font-size:15px;margin-top:15px;}
.sliderwrapper .col .textWrapper .month{font-size:18px; line-height:36px;}
.sliderwrapper .col.r .textWrapper{margin-left:90px;padding-left:10px;	text-align:left;}
.sliderwrapper .col.l .textWrapper{margin-right:90px;padding-right:10px;text-align:left;line-height:28px;}

.sliderwrapper .col .imgWrapper{background:#fff;}
.sliderwrapper .col.r .imgWrapper{background:#fff;margin-left:42px;padding-left:17px;	text-align:left;}
.sliderwrapper .col.l .imgWrapper{margin-right:42px;padding-right:17px;text-align:right;}
.sliderwrapper .col .img{max-width:313px;}
.sliderwrapper .col.l .img{float:right;}
.sliderwrapper .col.r .img{float:left;}
.sliderwrapper .col .imgBorder img{border:1px solid #e1e1e1;padding:8px;}
.sliderwrapper .col .caption{margin-top:5px;	text-align:center;line-height:20px;font-size:14px;	}
	


/*Ã½Ìå²éÑ¯*/



@media(max-width: 1190px){
.section{ width:98%; margin:0 auto;}
.sliderwrapper .col.l{float:left;background: none;}
.sliderwrapper .col.r{float:right;background:none;	}
.showpages .s_right{ width:30%;}
}
@media(max-width: 1024px){
.sliderwrapper .textWrapper {    padding: 5px 5px!important;
    margin: 49px 0 0!important;
    text-align: center!important;
    background-color: #f8f8f8;}
.sliderwrapper .col{ width:100%;}
}
@media screen and (max-width:999px){
	.banner {margin-bottom: 0;}
	.baner, .baner_box, .n_baner,.atlas li .txt a,.atlas li .txt a span{width: 100%;padding: 0;margin: 0; float:none;}
	.main_news .xq_newscon{ width:98%; margin:0 auto; }
	.content_l .hd{ font-size:20px; }

	.atlas li .txt{ position:static;}
	.atlas li .txt a{ padding:10px; box-sizing:border-box; font-size:12px; line-height:20px; }
	.atlas li .txt a span{font-size:16px; height:auto; line-height:normal;  line-height:20px; padding-bottom:5px;}
	.content_r .rczpny h4{ font-size:16px; font-weight: normal; line-height:35px; padding-bottom:10px;}
	.main_news{ width:94%; max-width:890px;background-color: #fff;padding: 30px 3%;margin: 0 auto;}
	.content_r .cp_query li .img_wrap img{  height:180px;}
	.content_r .cp_query li .text-area{line-height:50px;height:50px;font-size:16px; }
	.showpages .s_right{ width:35%;}

}
@media screen and (max-width:875px){
	
	
	.metro1{ width:100%; }
	.metro2{ width:100%; }
	.main_content{  background: none;}
	.content_l{ width:100%; max-width:100%;}
	.content_m{ width:100%; max-width:100%;}
	.content_r{ width:100%; max-width:100%;}
    .content_l .hd{background:#d7262e url(hdbj02.jpg) no-repeat right; height:80px; line-height:80px; text-align:left; text-indent:10px;  font-size:26px;}
	.content_m .hd{background:#d7262e url(hdbj02.jpg) no-repeat right;  text-align:left; text-indent:10px;  font-size:26px;}
	.content_r .ndsdny{ background:none; padding:30px 0px 0px 0px;  }

	.content_r .nowmenu{margin-top: 20px;}
	.content_r .nowmenu span{ width:150px;font-size:25px; line-height:45px;  }

	.content_r .ny_whleft{ width:100%; float:left; }
	.content_r .ny_whright{ width:100%; float:left;}
	.content_r .downquery .down_title p{ width:100%; }
	.content_r .downquery .down_title a{  width:100%;}


	.foot_left{ width:100%; margin:10px 0px; height:auto; border-right: none;  }
	.foot_left ul{ width:100%;border-bottom: 1px dotted #2f2f2f; border-top:1px dotted #4b4b4b; padding:5px 0px;  }
	.foot_left ul:first-child{ border-top:0px;}
	.foot_left ul h3{ width:100%; line-height:30px; }
	.foot_left ul li{ width:20%; line-height:25px; float:left;}

	.foot_right{width:100%; padding-left:0px; margin:10px 0px; border-left:none; }
	.foot_right h3{ width:100%; line-height:30px; }
	.foot_right a{  margin:0px 5px;}
	.foot_right h4{width:100%; line-height:30px; }
	
	}


@media(max-width:768px){

	.index_home{ display:none;}
   .header{   position: relative; }
   .header,.header .section{ width:100%;}
   .m_menu{ display:block;}
   .header .menu { position:absolute; left:0; top:58px; background:#343434; width:100%; display:none;}
   .header .menu ul>li{ width:100%; line-height:40px;text-align:left; text-indent:1.5em;
    border-bottom:1px solid #3e3e3e; border-top:1px solid #2b2b2b;}
   .header .menu ul>li a{ padding:0;/* background: url(jian.png) no-repeat right ;*/ }
   .header .menu li a{ display:block; line-height:48px; color:#fff; font-size:16px; }

   .header .menu li .drop ul{ width:100%; padding:0; background:#343434; }
   .header .menu li .drop{ position:static;}
   .header .menu li .drop .hide{ display:none;}
   .header .menu li .drop li{ width:100%; text-align:left;background:#343434; line-height:40px;  box-sizing:border-box; border:none;}
   .header .menu li .drop li h4{color:#fff; /* background: url(jian.png) no-repeat right ;*/ line-height:40px; font-size:12px;
    border-bottom:1px solid #3e3e3e; border-top:1px solid #2b2b2b;}
   .header .menu li .drop li a{ color: #fff;text-indent:3em;line-height:38px;}
   .header .menu li .drop .gy{ padding-left:0px; display:none;}
	.header .menu li .drop .xw{padding-left:0px;display:none;}
	.header .menu li .drop .yf{ padding-left:0px;display:none;}
	.header .menu li .drop .rc{ padding-left:0px;display:none;}
	.header .menu li .drop .gm{ padding-left:0px;display:none;}
	.header .menu li .drop .js{ padding-left:0px;display:none;}
	.header .menu li .drop .lx{padding-left:0px;display:none;}
   .header .lang-search{ display:none;}
   .header .section .logo{ width:90%;padding:15px 0px 8px 2px; }
   
   
   	.hdwrap{  display:none;}
	#con { width:100%; float:left;}
   .content_r .wx_query li p{  padding:7% 1% 0px 1%; }
   .index_zixun ul li{ width:100%; }


}
@media screen and (max-width:705px){
.content_r .ny .leijie_l{ width:100%;}
.content_r .ny .leijie_l h3{ width:100%; color:#cf1b24; font-size:22px; font-weight: bold; line-height:30px;}
.content_r .ny .leijie_l p{ width:100%; color:#383838; font-size:16px;line-height:35px;}
.content_r .ny .leijie_r{ width:262px; float:left; margin-left:20%; background:#f1f1f1; padding:10px 0px ;  text-align:center;}
   .content_r .wx_query li p{  padding:5% 1% 0px 1%; }

}
@media screen and (max-width:639px){
	.atlas li .txt{font-size:12px;}
	.atlas li .txt a{ padding:5px;  }
	.atlas li .txt a span{font-size:14px; height:auto; line-height:normal;  line-height:20px; padding-bottom:0px;}
	.newslist .conts{  width:86.2%; }
	.content_r .downquery ul li{ width:28%; }
	.content_r .contact_left{ width:100%;     padding-top: 10px;  margin: 10px 0px;}
	.content_r .contact_right{ width:100%; }
	.content_r .contact_left h4{ line-height:50px; font-size:20px; font-weight: bold; color:#ca0000;}
	
	
	.showpages .s_right{ width:45%;}
	input.form {width:100%;  	}
	input.input {width:100%; }
	.main_form{width:100%; line-height:40px; margin:5px 0px;}
	.main_textarea{width:100%; line-height:40px;  margin:5px 0px;}
	.textarea{ width:100%;}
	.form_left{ width:100%; float:left}
	.form_right{width:100%; float:left}
	#dituContent{ display:none;}
	   .content_r .wx_query li p{  padding:2% 1% 0px 1%; }


}

@media(max-width:580px){
	.content_r .wx_query li{margin:10px 1%;width:97%;  }
	   .content_r .wx_query li p{  padding:13% 1% 0px 1%; }
	   	.showpages .s_right{ width:50%;}
}

@media(max-width:520px){
	.section{ width:96%; margin:0 auto;}
	.lm_title .lanmu{ font-size:20px; } 
	.index_news{ padding:5px 0px; }
	.index_news .news_line{ height:10px;}
	.index_service{ display:none;}
	#con { width:100%;}
	#tags li A { font-size:14px; }
	#tags li.selectTag A{ font-size:14px;}
	.tagContent ul li span{ }
	.tagContent .NewsPicRec{ padding:15px 10px; height: auto; overflow:hidden; line-height:20px; font-size:12px;}
	.content_r .zhuye{ display:none;}
	.content_r .ny_left{ width:100%;  }
	.content_r .ny_right{ display:none; }
	.content_r .rczpny_left{ width:100%;  }
	.content_r .rczpny_right{ display:none; }
	.content_r .rczpny_left ul li{ width:auto;  margin-right:10px;}

	.newslist .conts{  width:82.2%; }
/*	.index_service p{ line-height:20px; }
	.index_service img{ width:100%; max-width:100%;}*/
	
	.n_baner .num{ display:none;}
	.content_r .cp_query li{width:47%}

	.index_zixun ul li{ width:100%; height: auto; float:left; display:block; background:#dcdcdc;}
	.index_zixun ul li:hover{ background:#d7262e; color:#fff;-webkit-transition: all ease-in .2s; -ms-transition: all ease-in .2s;
	-moz-transition: all ease-in .2s;-o-transition: all ease-in .2s; transition: all ease-in .2s;}
	.index_zixun .juhe{ width:100%; float:left;}
	.index_zixun .juhe h4{ width:100%; line-height:100px; float:left;}
	.index_zixun .juhe p{ line-height:25px;}
	.pagesinfo{ display:none;}
	
	.ny_banner{ padding-top:48.43%; }
	.news_banner{  padding-top:48.43%;}
	.rencai_banner{ padding-top:48.43%;}
	.dang_banner{ padding-top:48.43%; }
	.advance_banner{ padding-top:48.43%;}
	.contact_banner{padding-top:48.43%; }
	.social_banner{ padding-top:48.43%; }
	.yw_banner{ padding-top:48.25%;}


	
	
	.foot_left ul li{ width:25%; line-height:25px; float:left;}
	.header .section .logo img{max-width:90%;}

	
	.foot_nav{ width:100%; height:auto; padding:10px 0px; min-height:100px;}
	.foot_nav ul{ width:100%; margin:0px 2%; float:left}
	.foot_nav ul h3{ width:100%; line-height:40px; border-bottom:1px solid #757575; font-size:14px;}
	.foot_nav ul li{ width:33%; line-height:25px; float:left;}

	.foot_Buttom{ width:100%;  border-top:1px solid #757575; padding:10px 0px;}
	.foot_Buttom a{  margin:0px 5px;}

	.news_buttom{ width:100%; font-size:12px;  padding:10px 0px;}
	.news_buttom a{  margin:0px 5px;}
	.showpages .s_left{ display:none;}
		.showpages .s_right{ width:100%; margin:auto;}
		

}
@media(max-width:480px){

	#tags li A { font-size:13px; }
	#tags li.selectTag A{ font-size:13px;}
	
	
	.metro1{ border-bottom:5px solid #fff;}

	.metro1 a{  width:100%; min-height:400px;}
    .metro1 a:hover{   height:auto; min-height:400px;}

	.metro1 .zxju_img{ width:100%; float:left;}
	.metro1 .zxju_text{ width:90%; float:left;}

	.metro2{ border-top:5px solid #fff;}
	.metro2 a{  width:100%; min-height:400px;}
    .metro2 a:hover{   height:auto; min-height:400px;}

	.metro2 .zxju_img{ width:100%; float:left;}
	.metro2 .zxju_text{ width:90%; float:left;}

	
}


@media(max-width:425px){
	.newslist .conts{  width:75%; }
	.tagContent ul .newstitle{width:70%;}
	.tagContent ul .newsdtime{width:30%;}
	.content_r .ny .leijie_r{ width:100%; float:left; margin-left:0%;}
	.content_r .ny .xd_pic ul li{ width:46%;  padding:10px 1%; margin:10px 0.5%; }
    .content_r .wx_query li p{  padding:7% 1% 0px 1%; }

	.web_qun ul li{ width:45%;  }


}

@media(max-width:320px){
	.tagContent .NewsPicRec h4{ text-align:left; line-height:25px; }
	.content_r .ny_bjtitl{  line-height:20px;}
	.content_r .downquery ul li{ width:45%; }

}















#slider {
	width: 50%;
	margin: 50px auto;
}


/*--------------CONTROLS--------------*/

/*position controls*/
.controls li {
	top: 50%;
	margin-top: -30px
}

.controls li:nth-child(1) {
	left: 0;
}

.controls li:nth-child(2) {
	right: 0;
}


/*------------PAGINATION------------*/

/*style pagination*/
.pagination li {
	background-color: #ddd;
}

.pagination li.active {
	background-color: #000;
}


/*-------------HELPERS----------------*/

.responsive {
	width: 100%;
	height: auto;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}



